html,
body {
  height: 100%;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  &.open {
		right: 0;
		overflow-x: hidden;
		.content-area {
			overflow-x: hidden;
		}
		.navbar {
			position: fixed;
			margin-left: -280px;
			margin-right: 280px;
			z-index: 4;
		}
		&:before {
			content: "";
			position: fixed;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.8);
			z-index: 4;
		}
	}
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 32px;
}
p {
  font-family: 'Open Sans', sans-serif;
}
.mb-20 {
  margin-bottom: 140px !important;
}

.section {
  padding: 96px 0;
  &.bg {
    background-color: $bg-section;
  }
}
.gutter-10 {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    .row {
      margin-left: -10px;
      margin-right: -10px;
      div[class^="col-"] {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
.title {
  margin-bottom: 60px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: $primary;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -40px;
  }
  span {
    color: $primary;
    font-size: 12px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
  }
}

.form-search {
  position: relative;
  span {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18px;
    color: #999999;
  }
  .form-control {
    padding-left: 30px;
    border-color: #CCCCCC;
    background-color: #F5F5F8;
  }
}
.content-wrapper {
  h2 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 800;
    margin-bottom: 18px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    color: #666666;
    a {
      font-weight: 600;
    }
  }
  label {
    color: $black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}

.call-action {
  padding: 30px 20px;
  position: relative;
  margin-bottom: 30px;
  &.action-reg {
    background-image: url('../images/season-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(153,9,28);
      background: -moz-linear-gradient(0deg, rgba(153,9,28,0.5648634453781513) 53%, rgba(36,75,188,0.6460959383753502) 100%);
      background: -webkit-linear-gradient(0deg, rgba(153,9,28,0.5648634453781513) 53%, rgba(36,75,188,0.6460959383753502) 100%);
      background: linear-gradient(0deg, rgba(153,9,28,0.5648634453781513) 53%, rgba(36,75,188,0.6460959383753502) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99091c",endColorstr="#244bbc",GradientType=1);
    }
  }
  &.action-access {
    background-image: url('../images/season-5.png');
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(9,153,75);
      background: -moz-linear-gradient(0deg, rgba(9,153,75,0.5648634453781513) 53%, rgba(36,75,188,0.6460959383753502) 100%);
      background: -webkit-linear-gradient(0deg, rgba(9,153,75,0.5648634453781513) 53%, rgba(36,75,188,0.6460959383753502) 100%);
      background: linear-gradient(0deg, rgba(9,153,75,0.5648634453781513) 53%, rgba(36,75,188,0.6460959383753502) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09994b",endColorstr="#244bbc",GradientType=1);
    }
  }
  .content-action {
    position: relative;
    z-index: 1;
    h2 {
      color: $white;
      font-size: 30px;
      line-height: 37px;
      font-weight: 800;
    }
    p {
      color: $white;
      font-size: 16px;
      line-height: 28px;
    }
    .btn {
      text-transform: uppercase;
      .btn-outline-light {
        color: $white;
        border-color: $white;
      }
    }
  }
}
