{% set page_id = "Home" %}
{% extends "layout.html" %}
{% block content %}
<div class="landingpage">
	<div class="jumbotron">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h1>When connecting matters. Make distance obsolete</h1>
					<p>We dramatically improve the way organisations connect, communicate and collaborate.</p>
					<p>
						<button type="button" class="btn btn-primary text-uppercase font-weight-boldest">Reserve My Seat</button>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="count-down">
			<div class="desc">
				<h2>Until Event Start</h2>
				<span>Time remaning</span>
			</div>
			<div class="time-ramaning">
				<div id="eventCountDown" class="mb-0"></div>
			</div>
		</div>
	</div>

	<div class="section" id="speakers">
		<div class="container">
			<div class="title">
				<span>Speaking People</span>
				<h2>The Speaker</h2>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="speaking-people">
						<div class="pict">
							<img src="./dist/images/david.png" alt="speaking people">
						</div>
						<div class="desc">
							<h3>David Knowles</h3>
							<span>CEO UX Dev</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="speaking-people">
						<div class="pict">
							<img src="./dist/images/kelly.png" alt="speaking people">
						</div>
						<div class="desc">
							<h3>Kelly Ventura</h3>
							<span>Business Leader</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="speaking-people">
						<div class="pict">
							<img src="./dist/images/timothy.png" alt="speaking people">
						</div>
						<div class="desc">
							<h3>Timothy Powell</h3>
							<span>Chef Speaker</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="speaking-people">
						<div class="pict">
							<img src="./dist/images/charlotte.png" alt="speaking people">
						</div>
						<div class="desc">
							<h3>Charlotte Jonhson</h3>
							<span>CMS Develper</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg" id="agenda">
		<div class="container">
			<div class="title">
				<span>Schedule Agenda</span>
				<h2>Explore the Event Agenda</h2>
			</div>
			<div class="event-agenda">
				<div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="day-one" data-toggle="tab" href="#dayOne" role="tab" aria-controls="dayOne" aria-selected="true">
					    	Day 1
					    	<span>03 Feb 2021</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="day-two" data-toggle="tab" href="#dayTwo" role="tab" aria-controls="dayTwo" aria-selected="false">
						    Day 2
						    <span>04 Feb 2021</span>
						  </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="day-three" data-toggle="tab" href="#dayThree" role="tab" aria-controls="dayThree" aria-selected="false">
					    	Day 3
					    	<span>05 Feb 2021</span>
					    </a>
					  </li>
					  <li class="nav-item">
					  	<div class="form-group form-search mt-4">
					  		<span class="material-icons">search</span>
						  	<input type="text" class="form-control" placeholder="Search">
						  </div>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="dayOne" role="tabpanel" aria-labelledby="day-one">
				  	<div class="table-responsive">
						  <table class="table">
						    <tbody>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">8:45 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">9:00 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Welcome & Registration</h3>
						    			<p class="summary">Continental breakfast and registration. Pick up your name badge and goodie bag</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/kelly.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Kelly Ventura</h5>
									  		<span>Business Leader</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span><span class="material-icons text-primary">play_circle_outline</span> <span class="text-muted">Archive</span></span>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">9:10 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">10:45 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Spotlight & Breakout Sessions</h3>
						    			<p class="summary">Semper lacus cursus porta, magna mauris sapien risus auctor purus apien a feugiat rabitur nulla</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/timothy.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Timothy Powell</h5>
									  		<span>Chef Speaker</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span><span class="material-icons text-primary">play_circle_outline</span> <span class="text-muted">Archive</span></span>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">11:00 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">12:30 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Content as Conversation</h3>
						    			<p class="summary">Porta magna mauris sapien risus auctor purus apien feugiat rabitur at sapien lacus lacinia</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/charlotte.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Johnson Campbell</h5>
									  		<span>CMS Developer</span>
									  	</div>
						    		</td>
						    		<td>
						    			<div class="live-now">
						    				<span class="material-icons-outlined">videocam</span>
						    				<span class="status">Live now</span>
						    			</div>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">12:40 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">1:30 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Content as Conversation</h3>
						    			<p class="summary">Porta magna mauris sapien risus auctor purus apien feugiat rabitur at sapien lacus lacinia</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/anna.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Charlotte Johnson</h5>
									  		<span>CMS Developer</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span><span class="material-icons text-primary">play_circle_outline</span> <span class="text-muted">Archive</span></span>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">12:40 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">1:30 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Afternoon Lunch Break</h3>
						    			<p class="summary">Head out & our stewards will direct you to one of the 3 places lunch is being served - the downstairs bar, upstairs bar and front reception space * Please be back in your seats for 1:30 PM, when the afternoon session will get going</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/charlotte.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">Charlotte Johnson</h5>
									  		<span>CEO UX Dev</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span class="text-muted">Next Event</span>
						    		</td>
						    	</tr>
						    	<tr>
						    		<td class="text-center">
						    			<div class="font-weight-bold time">1:40 AM</div>
						    			<span class="separator-time"></span>
						    			<div class="font-weight-bold time">5:00 AM</div>
						    		</td>
						    		<td>
						    			<h3 class="text-primary font-weight-bold">Explore the Exhibit Hall, Networking Opportunities, and On-Demand Content</h3>
						    			<p class="summary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
						    		</td>
						    		<td>
						    			<div class="avatar">
									  		<img src="./dist/images/david.png" alt="season">
									  	</div>
									  	<div class="desc">
									  		<h5 class="mb-1">David Knowles</h5>
									  		<span>CMS Developer</span>
									  	</div>
						    		</td>
						    		<td>
						    			<span class="text-muted">Next Event</span>
						    		</td>
						    	</tr>
						    </tbody>
						  </table>
						</div>
						<div class="text-right pt-3 pb-4 pr-4">
							<button class="btn btn-sm btn-primary">Download Schadule (pdf)</button>
							<button class="btn btn-sm btn-outline-info ml-3">Reserve My Seat</button>
						</div>
				  </div>
				  <div class="tab-pane fade" id="dayTwo" role="tabpanel" aria-labelledby="day-two">2</div>
				  <div class="tab-pane fade" id="dayThree" role="tabpanel" aria-labelledby="day-three">3</div>
				</div>
			</div>
		</div>
	</div>

	<div id="about">
		<div class="container-fluid pl-0 pr-0">
			<div class="row no-gutters">
				<div class="col-md-6">
					<div class="pict-workshop"></div>
				</div>
				<div class="col-md-6">
					<div class="about-workshop">
						<span>About Our Workshop</span>
						<h2>EDUCAUSE Annual Conference 2020</h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg" id="pricing">
		<div class="container">
			<div class="title">
				<span>Our Price</span>
				<h2>Get Your Ticket</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="table-price">
						<div class="price-wrapp">
							<h3>Basic Plan</h3>
							<span class="price">$ 1000</span>
							<span>10 member can attend</span>
						</div>
						<div class="list-package">
							<ul>
								<li><span class="material-icons">check</span>10 Ticket</li>
								<li><span class="material-icons">check</span>One Day Access</li>
								<li><span class="material-icons">check</span>Seminar Kit</li>
								<li><span class="material-icons">check</span>Seminar T-Shirt</li>
								<li><span class="material-icons not-include">close</span>Online Workshop</li>
								<li><span class="material-icons not-include">close</span>Discount for next event</li>
							</ul>
							<button class="btn btn-sm btn-outline-info mt-5">Buy Now</button>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="table-price">
						<div class="price-wrapp">
							<h3>Premium Plan</h3>
							<span class="price">$ 5000</span>
							<span>24 member can attend</span>
						</div>
						<div class="list-package">
							<ul>
								<li><span class="material-icons">check</span>10 Ticket</li>
								<li><span class="material-icons">check</span>One Day Access</li>
								<li><span class="material-icons">check</span>Seminar Kit</li>
								<li><span class="material-icons">check</span>Seminar T-Shirt</li>
								<li><span class="material-icons">check</span>Online Workshop</li>
								<li><span class="material-icons not-include">close</span>Discount for next event</li>
							</ul>
							<button class="btn btn-sm btn-primary mt-5">Buy Now</button>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="table-price">
						<div class="price-wrapp">
							<h3>Basic Plan</h3>
							<span class="price">$ 10000</span>
							<span>Unlimited member can attend</span>
						</div>
						<div class="list-package">
							<ul>
								<li><span class="material-icons">check</span>10 Ticket</li>
								<li><span class="material-icons">check</span>One Day Access</li>
								<li><span class="material-icons">check</span>Seminar Kit</li>
								<li><span class="material-icons">check</span>Seminar T-Shirt</li>
								<li><span class="material-icons">check</span>Online Workshop</li>
								<li><span class="material-icons">check</span>Discount for next event</li>
							</ul>
							<button class="btn btn-sm btn-outline-info mt-5">Buy Now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg" id="season">
		<div class="container">
			<div class="title">
				<span>Season</span>
				<h2>Explore the SEASON</h2>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-1.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/pict1.jpg" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>David Knowles</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-2.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/pict2.jpg" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>David Knowles</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-3.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/joshep.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Joseph</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-4.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/marco.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Marco camp</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-5.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/seth.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Jhon Seth</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-6.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/annie.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Annie Leonheart</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-7.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/tylor.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Tylor Smith</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card season">
						<div class="pict">
							<div class="attr">
								Digital Marketing
							</div>
							<h5 class="card-title">Communications Infrastructure and Applications Community Group</h5>
					  	<img src="./dist/images/season-5.png" class="card-img-top" alt="season">
					  </div>
					  <div class="card-body">
					  	<div class="avatar">
					  		<img src="./dist/images/ferro.png" alt="season">
					  	</div>
					  	<div class="desc">
					  		<h5>Ferro Miles</h5>
					  		<span>12 Juni 2021</span>
					  	</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade chat-modal" id="chatModal" data-backdrop="static" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        	<span class="material-icons-outlined">chat</span>
        	Chat Room
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="event-room" data-toggle="tab" href="#eventRoom" role="tab" aria-controls="eventRoom" aria-selected="true">
					    	Chat Event Room
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="participantChat" data-toggle="tab" href="#participant" role="tab" aria-controls="participant" aria-selected="false">
						    Participant
						  </a>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="eventRoom" role="tabpanel" aria-labelledby="event-room">
				  	<div class="chat-list">
				  		<ul>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict2.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				  						<div class="attr">
				  							Christopher M. Rea 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp is-user">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						There are many variations of passages of Lorem Ipsum available,
				  						<div class="attr">
				  							Dwi Wibowo 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="participant" role="tabpanel" aria-labelledby="participantChat">
				  	<div class="chat-list-participant">
				  		<ul>
				  			<li class="active">
				  				<div class="pict">
									<img src="./dist/images/kelly.png" alt="lounge">
								</div>
								<div class="desc">
									<h3>Kelly Ventura</h3>
									<span>My Status Now...</span>
								</div>

								<div class="attr">
									<p class="text-danger">Recenly</p>
									<div class="total-chat">
										3
									</div>
								</div>
				  			</li>
				  			<li>
				  				<div class="pict">
									<img src="./dist/images/1.jpg" alt="lounge">
								</div>
								<div class="desc">
									<h3>Christopher M. Rea</h3>
									<span>My Status Now...</span>
								</div>
								<div class="attr">
									<p class="text-danger">3 Minutes ago</p>
									<div class="total-chat">
										12
									</div>
								</div>
				  			</li>
				  			<li>
				  				<div class="pict">
									<img src="./dist/images/20.jpg" alt="lounge">
								</div>
								<div class="desc">
									<h3>Charlotte Johnson</h3>
									<span>My Status Now...</span>
								</div>
								<div class="attr">
									<p class="text-danger">3 Minutes ago</p>
								</div>
				  			</li>
				  			<li>
				  				<div class="pict">
									<img src="./dist/images/28.jpg" alt="lounge">
								</div>
								<div class="desc">
									<h3>Philip A. Joneso</h3>
									<span>My Status Now...</span>
								</div>
								<div class="attr">
									<p class="text-danger">5 Minutes ago</p>
								</div>
				  			</li>
				  			<li>
				  				<div class="pict">
									<img src="./dist/images/david.png" alt="lounge">
								</div>
								<div class="desc">
									<h3>David Knowles</h3>
									<span>My Status Now...</span>
								</div>
								<div class="attr">
									<p class="text-danger">3 Minutes ago</p>
								</div>
				  			</li>
				  			<li>
				  				<div class="pict">
									<img src="./dist/images/anna.png" alt="lounge">
								</div>
								<div class="desc">
									<h3>Shaughnessy</h3>
									<span>My Status Now...</span>
								</div>
								<div class="attr">
									<p class="text-danger">5 Minutes ago</p>
								</div>
				  			</li>
				  			<li>
				  				<div class="pict">
									<img src="./dist/images/60.jpg" alt="lounge">
								</div>
								<div class="desc">
									<h3>Vijay Komar</h3>
									<span>My Status Now...</span>
								</div>
								<div class="attr">
									<p class="text-danger">7 Minutes ago</p>
								</div>
				  			</li>
				  			<li>
				  				<div class="pict">
									<img src="./dist/images/annie.png" alt="lounge">
								</div>
								<div class="desc">
									<h3>Annie Leon</h3>
									<span>My Status Now...</span>
								</div>
								<div class="attr">
									<p class="text-danger">8 Minutes ago</p>
								</div>
				  			</li>
				  			<li>
				  				<div class="pict">
									<img src="./dist/images/1.jpg" alt="lounge">
								</div>
								<div class="desc">
									<h3>Pruitt Acevedo</h3>
									<span>Antas</span>
								</div>
								<div class="attr">
									<p class="text-danger">9 Minutes ago</p>
								</div>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
				</div>
      </div>
      <div class="modal-footer">
      	<div class="form-inline">
				  <input type="text" class="form-control" >
	        <button type="button" class="btn btn-link btn-sm"><span class="material-icons">send</span></button>
	      </div>
      </div>
    </div>
  </div>
</div>

<div class="sponsored-list open">
	<div class="bar-nav">
		<div class="container">
			<h3>Sponsored List</h3>
			<a href="#" class="js-expand expand">
				<span class="material-icons closed">close_fullscreen</span>
				<span class="material-icons opened">open_in_full</span>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="sponsored">
			<div><img src="./dist/images/sponsored1.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored2.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored3.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored4.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored5.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored6.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored7.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored8.jpg" alt="sponsored"></div>
		</div>
	</div>
</div>




{% endblock %}
{% block script %}
<script src="./dist/js/jquery.nav.js"></script>
<script src="./dist/js/count-down.js"></script>
{% endblock %}