{% set page_id = "Exhibition" %}
{% extends "layout.html" %}
{% block content %}
<div class="lounge">
	<div class="jumbotron">
		<div class="time-zone">
			<span>Times are shown in your local time zone (GMT + 7)</span>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h1>The Lounge</h1>
				</div>
			</div>
			<div class="text-right table-view">
				<span>List view on</span>
				<div class="custom-control custom-switch">
				  <input type="checkbox" class="custom-control-input" id="viewTable" checked>
				  <label class="custom-control-label" for="viewTable"></label>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="accordion mb-5 row" id="accordionRedback">
			<div class="col-md-6">
				<div class="card mb-4">
				    <div class="card-header" id="heading1">
				      <h2 class="mb-0">
				        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
				          #Table-1 / <span>10 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>

				    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionRedback">
				      <div class="card-body">
				      	<div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/20.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/28.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/kelly.png" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/32.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/35.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/campbell.png" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/39.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
				<div class="card mb-4">
				    <div class="card-header" id="heading2">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
				           #Table-2 / <span>5 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>
				    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionRedback">
				      <div class="card-body">
				        <div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/42.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/43.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/53.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/56.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/timosthy.png" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/60.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/64.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/charlotte.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/65.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
				<div class="card mb-4">
				    <div class="card-header" id="heading3">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
				          #Table-3 / <span>9 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>
				    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionRedback">
				      <div class="card-body">
				        <div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
				<div class="card mb-4">
				    <div class="card-header" id="heading4">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
				          #Table-4 / <span>7 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>
				    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionRedback">
				      <div class="card-body">
				        <div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
				<div class="card mb-4">
				    <div class="card-header" id="heading5">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
				          #Table-5 / <span>10 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>
				    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionRedback">
				      <div class="card-body">
				        <div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-4">
				    <div class="card-header" id="heading6">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
				          #Table-6 / <span>8 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>
				    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionRedback">
				      <div class="card-body">
				        <div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
				<div class="card mb-4">
				    <div class="card-header" id="heading7">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
				          #Table-7 / <span>7 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>
				    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionRedback">
				      <div class="card-body">
				        <div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
				<div class="card mb-4">
				    <div class="card-header" id="heading8">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
				          #Table-8 / <span>6 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>
				    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionRedback">
				      <div class="card-body">
				        <div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
				<div class="card mb-4">
				    <div class="card-header" id="heading9">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
				          #Table-7 / <span>7 of 10 Participants</span>
				        </button>
				      </h2>
				    </div>
				    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionRedback">
				      <div class="card-body">
				        <div class="row">
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Pruitt Acevedo</h3>
													<span>Antas</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Reyes Riggs</h3>
													<span>ACO</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Munoz Buckley</h3>
													<span>Alinta Energy</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Middleton Sawyer</h3>
													<span>Ali Wood</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Cathy Guzman</h3>
													<span>ATM</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Wendi Michael</h3>
													<span>Dincel</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict1.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Crawford Odom</h3>
													<span>MHE Demagz</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict2.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Sophia Cochran</h3>
													<span>CAT</span>
												</div>
											</li>
											<li>
												<div class="pict">
													<img src="./dist/images/pict3.jpg" alt="lounge">
												</div>
												<div class="desc">
													<h3>Petra Brewer</h3>
													<span>Chain Block Media</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-6">
				      			<div class="table-list">
									<div class="list-user">
										<ul>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
											<li>
												<div class="pict">
												</div>
												<div class="desc">
													<h3>Empty Chair</h3>
													<span>Join Now</span>
												</div>
											</li>
										</ul>
									</div>
								</div>
				      		</div>
				      		<div class="col-12 text-right">
				      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sponsored-list">
	<div class="bar-nav">
		<div class="container">
			<h3>Sponsored List</h3>
			<a href="#" class="js-expand expand">
				<span class="material-icons closed">close_fullscreen</span>
				<span class="material-icons opened">open_in_full</span>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="sponsored">
			<div><img src="./dist/images/sponsored1.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored2.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored3.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored4.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored5.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored6.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored7.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored8.jpg" alt="sponsored"></div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade chat-modal" id="chatModal" data-backdrop="static" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        	<span class="material-icons-outlined">chat</span>
        	Chat Room
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="event-room" data-toggle="tab" href="#eventRoom" role="tab" aria-controls="eventRoom" aria-selected="true">
					    	Chat Event Room
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="participantChat" data-toggle="tab" href="#participant" role="tab" aria-controls="participant" aria-selected="false">
						    Participant
						  </a>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="eventRoom" role="tabpanel" aria-labelledby="event-room">
				  	<div class="chat-list">
				  		<ul>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict2.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				  						<div class="attr">
				  							Christopher M. Rea 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp is-user">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						There are many variations of passages of Lorem Ipsum available,
				  						<div class="attr">
				  							Dwi Wibowo 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="participant" role="tabpanel" aria-labelledby="participantChat">
				  	participant
				  </div>
				</div>
      </div>
      <div class="modal-footer">
      	<div class="form-inline">
				  <input type="text" class="form-control" >
	        <button type="button" class="btn btn-link btn-sm"><span class="material-icons">send</span></button>
	      </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade modal-detail" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="pict">
      		<img src="https://via.placeholder.com/144x144 " alt="">
      	</div>
        <div class="desc">
        	<h5 class="modal-title" id="modalDetail">Antas</h5>
	        <p>Stand: B169</p>
	        <p>Coatings, Sealants & Adhesives | Sydney Build</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-8">
        		<div class="content-about">
        		<h4>About Antas</h4>
        		<p>Antas Pacific supplies a range of construction sealant and adhesive products based on modified silane (MS), silicone, polyurethane and acrylic polymers which are used in applications of curtain wall, insulating glass, glazing, exterior and interior caulking and sealing, and more.</p>
        		<p>Antas® is manufactured since 1989 by Jointas Chemical, a leading sealant and industrial coatings manufacturer based in Guangzhou, China. The China Construction Metal Structure Association has ranked Antas® among the best construction sealant brands in China over the last 14 consecutive years. Started as a private company, Jointas is now publicly listed in Shenzhen Stock Exchange.</p>
        		</div>
        	</div>
        	<div class="col-4">
        		<div class="content-about side">
        			<h4>Address</h4>
        			<p>1/17-19 Pavesi Street Smithfield 2165 <strong>Australia</strong></p>
        			<a href="#" class="btn btn-link btn-block"><span class="material-icons">picture_as_pdf</span> Download PDF</a>
        			<a href="#" class="btn btn-link btn-block mb-5"><span class="material-icons-outlined">videocam</span> Playback Sales Video</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">BOOK A MEETING</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">TALK SOMEONE</a>
        			<a href="#" class="btn btn-primary btn-sm btn-block mb-3">REQUEST FREE SAMPLE</a>
        		</div>
        	</div>
        	<div class="col-12">
        		<div class="content-about list-product">
        			<h4 class="mb-4 mt-4">Product</h4>
        			<div class="row">
        				<div class="col-4">
        					<div class="card season">
							  <div class="pict">
							  	<img src="./dist/images/season-1.png" class="card-img-top" alt="season">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle G-13</h5>
							  		<p>Rekortan® G-13 is our top performing, elite full PUR, IAAF certified track system made from environmentally, renewable resources. We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card season">
							  <div class="pict">
							  	<img src="./dist/images/season-1.png" class="card-img-top" alt="season">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle 12</h5>
							  		<p>Bottle 12 We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card season">
							  <div class="pict">
							  	<img src="./dist/images/season-1.png" class="card-img-top" alt="season">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle</h5>
							  		<p>Elite full PUR, IAAF certified track system made from environmentally We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
      	<a href="/#" class="nav-link active">
			<span class="material-icons-outlined text-primary">event_note</span>
			Agenda
		</a>
		<a href="/#" data-rb-event-key="/#" class="nav-link">
			<span class="material-icons-outlined text-primary">amp_stories</span>
			Exhibition Hall
		</a>
		<a href="/contact.html" data-rb-event-key="/contact" class="nav-link">
			<span class="material-icons-outlined text-primary">chair</span>
			Launge
		</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="./dist/js/jquery.nav.js"></script>
<script src="./dist/js/count-down.js"></script>
{% endblock %}