{% set page_id = "Exhibition" %}
{% extends "layout.html" %}
{% block content %}
<div class="lounge">
	<div class="jumbotron">
		<div class="time-zone">
			<span>Times are shown in your local time zone (GMT + 7)</span>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h1>The Lounge</h1>
				</div>
			</div>
			<div class="text-right table-view">
				<span>Table view on</span>
				<div class="custom-control custom-switch">
				  <input type="checkbox" class="custom-control-input" id="viewTable">
				  <label class="custom-control-label" for="viewTable"></label>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid">
		<div class=" mb-5 row">
			<div class="col-md-4">
				<div class="card mb-4 lounge-wrapp">
				    <div class="card-header" id="heading1">
				      <h2 class="mb-0">
				         #Table-1 / <span>10 of 10 Participants</span>
				      </h2>
				    </div>

				    <div class="" >
				      <div class="card-body">
				      	<div class="row">
				      		<div class="col-md-12">
				      			<div class="user-lounge">
				      				<ul>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/pict1.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Kenneth W</h3>
														<span>Aquatechnik</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/pict2.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Carol K</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/pict3.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Jessica Miles</h3>
														<span>Chain Block Media</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
			      							<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/charlotte.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Meredith H</h3>
														<span>ACO</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/david.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Pena Valdez</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/kelly.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Pruitt Acevedo</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/timothy.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>White C</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/1.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>White C</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/3.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Pruitt Acevedo</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/4.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Pena Valdez</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      				</ul>
				      			</div>
				      		</div>
				      		<div class="col-12">
					      		<div class="d-flex justify-content-between align-items-center action-wrapp">
					      			<div class="d-flex align-items-center">
					      				<span class="material-icons mr-2">groups</span> <span class="text-success">4 Users online</span>
					      			</div>
					      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
					      		</div>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4 lounge-wrapp">
				    <div class="card-header" id="heading1">
				      <h2 class="mb-0">
				         #Table-2 / <span>10 of 10 Participants</span>
				      </h2>
				    </div>

				    <div class="" >
				      <div class="card-body">
				      	<div class="row">
				      		<div class="col-md-12">
				      			<div class="user-lounge">
				      				<ul>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/38.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Levi Ackreman</h3>
														<span>Aquatechnik</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/ellis.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Ellis lamar</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/ferro.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Ferro Ferdinan</h3>
														<span>Chain Block Media</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
			      							<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/joshep.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Joseph Jhonson</h3>
														<span>ACO</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/marco.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Marco Bolto</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/seth.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Shane Seth</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/tylor.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Tommy</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/timothy.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Historia</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/anna.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Anna Brits</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/Annie.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Annie Valdez</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      				</ul>
				      			</div>
				      		</div>
				      		<div class="col-12">
					      		<div class="d-flex justify-content-between align-items-center action-wrapp">
					      			<div class="d-flex align-items-center">
					      				<span class="material-icons mr-2">groups</span> <span class="text-success">4 Users online</span>
					      			</div>
					      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
					      		</div>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4 lounge-wrapp">
				    <div class="card-header" id="heading1">
				      <h2 class="mb-0">
				         #Table-3 / <span>10 of 10 Participants</span>
				      </h2>
				    </div>

				    <div class="" >
				      <div class="card-body">
				      	<div class="row">
				      		<div class="col-md-12">
				      			<div class="user-lounge">
				      				<ul>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/76.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Erwin Smith</h3>
														<span>Aquatechnik</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/david.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>David Carol</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/94.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Jean Miles</h3>
														<span>Chain Block Media</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
			      							<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/91.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Meredith H</h3>
														<span>ACO</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/90.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Eren Pena</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/87.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Blake</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/86.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Carlos</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/84.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Nicholas</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/79.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Vincent Pruitt</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/pict3.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Sinclare</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      				</ul>
				      			</div>
				      		</div>
				      		<div class="col-12">
					      		<div class="d-flex justify-content-between align-items-center action-wrapp">
					      			<div class="d-flex align-items-center">
					      				<span class="material-icons mr-2">groups</span> <span class="text-success">4 Users online</span>
					      			</div>
					      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
					      		</div>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4 lounge-wrapp">
				    <div class="card-header" id="heading1">
				      <h2 class="mb-0">
				         #Table-4 / <span>10 of 10 Participants</span>
				      </h2>
				    </div>

				    <div class="" >
				      <div class="card-body">
				      	<div class="row">
				      		<div class="col-md-12">
				      			<div class="user-lounge">
				      				<ul>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/campbell.png" alt="lounge">
													</div>
													<div class="desc">
														<h3>Elisa Camp</h3>
														<span>Aquatechnik</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/74.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Dalthon K</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/73.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Nick Miles</h3>
														<span>Chain Block Media</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
			      							<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/67.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Fadly</h3>
														<span>ACO</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/65.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Andika</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/64.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>James B</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/60.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Danny</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/56.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Joe T</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/53.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Andra</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/43.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Jhon R</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      				</ul>
				      			</div>
				      		</div>
				      		<div class="col-12">
					      		<div class="d-flex justify-content-between align-items-center action-wrapp">
					      			<div class="d-flex align-items-center">
					      				<span class="material-icons mr-2">groups</span> <span class="text-success">4 Users online</span>
					      			</div>
					      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
					      		</div>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4 lounge-wrapp">
				    <div class="card-header" id="heading1">
				      <h2 class="mb-0">
				         #Table-5 / <span>10 of 10 Participants</span>
				      </h2>
				    </div>

				    <div class="" >
				      <div class="card-body">
				      	<div class="row">
				      		<div class="col-md-12">
				      			<div class="user-lounge">
				      				<ul>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>Aquatechnik</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/42.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Pasha</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>Chain Block Media</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
			      							<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/4.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Deddy</h3>
														<span>ACO</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/39.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Jack White</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/35.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Eddie G</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/32.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Greed S</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      				</ul>
				      			</div>
				      		</div>
				      		<div class="col-12">
					      		<div class="d-flex justify-content-between align-items-center action-wrapp">
					      			<div class="d-flex align-items-center">
					      				<span class="material-icons mr-2">groups</span> <span class="text-success">4 Users online</span>
					      			</div>
					      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
					      		</div>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-4 lounge-wrapp">
				    <div class="card-header" id="heading1">
				      <h2 class="mb-0">
				         #Table-6 / <span>10 of 10 Participants</span>
				      </h2>
				    </div>

				    <div class="" >
				      <div class="card-body">
				      	<div class="row">
				      		<div class="col-md-12">
				      			<div class="user-lounge">
				      				<ul>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/pict1.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Kenneth W</h3>
														<span>Aquatechnik</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/28.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Carol K</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>Chain Block Media</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
			      							<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/3.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Mike K</h3>
														<span>ACO</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/28.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Brian</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/20.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Justin</h3>
														<span>Alinta Enegry</span>
													</div>
												</div>
				      						</div>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/1.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>David V</h3>
														<span>Antas</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      					<li>
				      						<div class="user-on">
				      							<div>
													<div class="pict">
														<img src="./dist/images/empty-chair.jpg" alt="lounge">
													</div>
													<div class="desc">
														<h3>Empty Chair</h3>
														<span>CAT</span>
													</div>
												</div>
				      						</div>
				      					</li>
				      				</ul>
				      			</div>
				      		</div>
				      		<div class="col-12">
					      		<div class="d-flex justify-content-between align-items-center action-wrapp">
					      			<div class="d-flex align-items-center">
					      				<span class="material-icons mr-2">groups</span> <span class="text-success">4 Users online</span>
					      			</div>
					      			<button class="btn btn-primary btn-sm uppercase">Join Table</button>
					      		</div>
				      		</div>
				      	</div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sponsored-list">
	<div class="bar-nav">
		<div class="container">
			<h3>Sponsored List</h3>
			<a href="#" class="js-expand expand">
				<span class="material-icons closed">close_fullscreen</span>
				<span class="material-icons opened">open_in_full</span>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="sponsored">
			<div><img src="./dist/images/sponsored1.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored2.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored3.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored4.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored5.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored6.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored7.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored8.jpg" alt="sponsored"></div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade chat-modal" id="chatModal" data-backdrop="static" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        	<span class="material-icons-outlined">chat</span>
        	Chat Room
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="event-room" data-toggle="tab" href="#eventRoom" role="tab" aria-controls="eventRoom" aria-selected="true">
					    	Chat Event Room
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="participantChat" data-toggle="tab" href="#participant" role="tab" aria-controls="participant" aria-selected="false">
						    Participant
						  </a>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="eventRoom" role="tabpanel" aria-labelledby="event-room">
				  	<div class="chat-list">
				  		<ul>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict2.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				  						<div class="attr">
				  							Christopher M. Rea 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp is-user">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						There are many variations of passages of Lorem Ipsum available,
				  						<div class="attr">
				  							Dwi Wibowo 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="participant" role="tabpanel" aria-labelledby="participantChat">
				  	participant
				  </div>
				</div>
      </div>
      <div class="modal-footer">
      	<div class="form-inline">
				  <input type="text" class="form-control" >
	        <button type="button" class="btn btn-link btn-sm"><span class="material-icons">send</span></button>
	      </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade modal-detail" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="pict">
      		<img src="https://via.placeholder.com/144x144 " alt="">
      	</div>
        <div class="desc">
        	<h5 class="modal-title" id="modalDetail">Antas</h5>
	        <p>Stand: B169</p>
	        <p>Coatings, Sealants & Adhesives | Sydney Build</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-8">
        		<div class="content-about">
        		<h4>About Antas</h4>
        		<p>Antas Pacific supplies a range of construction sealant and adhesive products based on modified silane (MS), silicone, polyurethane and acrylic polymers which are used in applications of curtain wall, insulating glass, glazing, exterior and interior caulking and sealing, and more.</p>
        		<p>Antas® is manufactured since 1989 by Jointas Chemical, a leading sealant and industrial coatings manufacturer based in Guangzhou, China. The China Construction Metal Structure Association has ranked Antas® among the best construction sealant brands in China over the last 14 consecutive years. Started as a private company, Jointas is now publicly listed in Shenzhen Stock Exchange.</p>
        		</div>
        	</div>
        	<div class="col-4">
        		<div class="content-about side">
        			<h4>Address</h4>
        			<p>1/17-19 Pavesi Street Smithfield 2165 <strong>Australia</strong></p>
        			<a href="#" class="btn btn-link btn-block"><span class="material-icons">picture_as_pdf</span> Download PDF</a>
        			<a href="#" class="btn btn-link btn-block mb-5"><span class="material-icons-outlined">videocam</span> Playback Sales Video</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">BOOK A MEETING</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">TALK SOMEONE</a>
        			<a href="#" class="btn btn-primary btn-sm btn-block mb-3">REQUEST FREE SAMPLE</a>
        		</div>
        	</div>
        	<div class="col-12">
        		<div class="content-about list-product">
        			<h4 class="mb-4 mt-4">Product</h4>
        			<div class="row">
        				<div class="col-4">
        					<div class="card season">
							  <div class="pict">
							  	<img src="./dist/images/season-1.png" class="card-img-top" alt="season">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle G-13</h5>
							  		<p>Rekortan® G-13 is our top performing, elite full PUR, IAAF certified track system made from environmentally, renewable resources. We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card season">
							  <div class="pict">
							  	<img src="./dist/images/season-1.png" class="card-img-top" alt="season">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle 12</h5>
							  		<p>Bottle 12 We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card season">
							  <div class="pict">
							  	<img src="./dist/images/season-1.png" class="card-img-top" alt="season">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle</h5>
							  		<p>Elite full PUR, IAAF certified track system made from environmentally We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
      	<a href="/#" class="nav-link active">
			<span class="material-icons-outlined text-primary">event_note</span>
			Agenda
		</a>
		<a href="/#" data-rb-event-key="/#" class="nav-link">
			<span class="material-icons-outlined text-primary">amp_stories</span>
			Exhibition Hall
		</a>
		<a href="/contact.html" data-rb-event-key="/contact" class="nav-link">
			<span class="material-icons-outlined text-primary">chair</span>
			Launge
		</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="./dist/js/jquery.nav.js"></script>
<script src="./dist/js/count-down.js"></script>
{% endblock %}