{% set page_id = "Program" %}
{% extends "layout.html" %}
{% block content %}
<div class="program">
	<div class="jumbotron">
		<div class="time-zone">
			<span>Times are shown in your local time zone (GMT + 7)</span>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center">
					<h1>Program and Track</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="content-wrapper">
						<h2>Programs and Tracks</h2>
						<p>We strongly believe that running the event in November 2021 will see an event with less restrictions on attendance, higher attendee numbers, better travel options and a far better attended, safer and more successful show for all exhibitors, attendees and speakers.</p>
						<p>CIVENEX exhibitors please be advised that IPWEA will contact you, should you have any questions please contact : civenex@ipweansw.org</p>
						<p>Should you have any questions regarding Sydney Build relating to presenting, exhibiting, sponsoring or attending please contact: info@sydneybuildexpo.com</p>
					</div>
					<div>
						<div class="content-wrapper">
							<h2>Event Tracks</h2>
						</div>
						<div class="accordion mb-5" id="accordionRedback">
						  <div class="card">
						    <div class="card-header" id="heading1">
						      <h2 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
						          Workshop: Successful Marketing Strategy
						        </button>
						      </h2>
						    </div>

						    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionRedback">
						      <div class="card-body">
						        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
						        <p>Below you'll find the schedule for Eventup 2020. We'll keep this page regularly updated with all new speakers and sessions, so be sure to keep checking in!</p>
						      </div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="heading2">
						      <h2 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
						          Getting Back Into The Deliverables Business
						        </button>
						      </h2>
						    </div>
						    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionRedback">
						      <div class="card-body">
						        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
						        <p>Below you'll find the schedule for Eventup 2020. We'll keep this page regularly updated with all new speakers and sessions, so be sure to keep checking in!</p>
						      </div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="heading3">
						      <h2 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
						          Workshop: Successful Marketing Strategy
						        </button>
						      </h2>
						    </div>
						    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionRedback">
						      <div class="card-body">
						        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
						        <p>Below you'll find the schedule for Eventup 2020. We'll keep this page regularly updated with all new speakers and sessions, so be sure to keep checking in!</p>
						      </div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="heading4">
						      <h2 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
						          Engineering Smart Infrastructures: a Collaborative
						        </button>
						      </h2>
						    </div>
						    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionRedback">
						      <div class="card-body">
						        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
						        <p>Below you'll find the schedule for Eventup 2020. We'll keep this page regularly updated with all new speakers and sessions, so be sure to keep checking in!</p>
						      </div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="heading5">
						      <h2 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
						          Using SaaS For Cost Control
						        </button>
						      </h2>
						    </div>
						    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionRedback">
						      <div class="card-body">
						        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
						        <p>Below you'll find the schedule for Eventup 2020. We'll keep this page regularly updated with all new speakers and sessions, so be sure to keep checking in!</p>
						      </div>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-header" id="heading6">
						      <h2 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
						          How To Do Marketing Effectively
						        </button>
						      </h2>
						    </div>
						    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionRedback">
						      <div class="card-body">
						        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p>
						        <p>Below you'll find the schedule for Eventup 2020. We'll keep this page regularly updated with all new speakers and sessions, so be sure to keep checking in!</p>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="call-action action-reg ml-3">
						<div class="content-action">
							<h2>EDUCAUSE Annual Conference 2020</h2>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
							<button type="button" class="btn btn-outline-light btn-sm">Register</button>
						</div>
					</div>
					<div class="call-action action-access ml-3">
						<div class="content-action">
							<h2>EDUCAUSE Annual Conference 2020</h2>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
							<button type="button" class="btn btn-primary btn-sm">Access Document</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="content-wrapper">
						<h2>Virtual Session Experience</h2>
					</div>
				</div>
				<div class="col-md-4">
					<div class="virtual-session">
						<span class="material-icons">live_tv</span>
						<h3>General Sessions</h3>
						<p>Increasing your competitive advantage by aligning your strategy with people and culture.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="virtual-session">
						<span class="material-icons">live_tv</span>
						<h3>Live Sessions</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="virtual-session">
						<span class="material-icons">live_tv</span>
						<h3>On-Demand Content</h3>
						<p>Increasing your competitive advantage by aligning your strategy with people and culture.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="content-wrapper mt-5">
						<h2>Connect on What Matters Most to You</h2>
						<label>Event Track</label>
						<p>The event was meant to go ahead as an in person event however due to COVID-19, they needed to deliver it virtually. They required the production standard to be extremely high and they needed sponsors to get immense value from the conference. <a href="#">Learn more about Community Day →</a></p>
						<label>Exhibit Hall</label>
						<p>All exhibitor, attendee and speaker bookings will be transferred to the new dates and the booking will remain exactly the same. Exhibitors will receive contact shortly with details of the floorplan, speakers will receive confirmation of their session timings 3-4 months out from the show. <a href="#">Learn more about the exhibits →</a></p>
						<label>Networking Opportunities</label>
						<p>Networking OpportunitiesThe day had begun on a bright note. The sun finally peeked through the rain for the first time in a week, and the birds were sinf=ging in its warmth. There was no way to anticipate what was about to happen. It was a worst-case scenario and there was no way out of it. <a href="#">Learn more about the Networking Opportunities→</a></p>
						<label>Career Coaching</label>
						<p>Career Coaching, Sitting in the sun, away from everyone who had done him harm in the past, he quietly listened to those who roamed by. Lorem ipsum He felt at peace in the moment, hoping it would last, but knowing the reprieve would soon come to an end. He closed his eyes, the sun beating down on face and he smiled. He smiled for the first time in as long as he could remember. <a href="#">Learn more about the Career Coaching →</a></p>
						<label>About Speaker</label>
						<p>Career Coaching, Sitting in the sun, away from everyone who had done him harm in the past, he quietly listened to those who roamed by. Lorem ipsum He felt at peace in the moment, hoping it would last, but knowing the reprieve would soon come to an end. He closed his eyes, the sun beating down on face and he smiled. He smiled for the first time in as long as he could remember. <a href="#">Learn more →</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="sponsored-list">
	<div class="bar-nav">
		<div class="container">
			<h3>Sponsored List</h3>
			<a href="#" class="js-expand expand">
				<span class="material-icons closed">close_fullscreen</span>
				<span class="material-icons opened">open_in_full</span>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="sponsored">
			<div><img src="./dist/images/sponsored1.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored2.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored3.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored4.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored5.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored6.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored7.jpg" alt="sponsored"></div>
			<div><img src="./dist/images/sponsored8.jpg" alt="sponsored"></div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade chat-modal" id="chatModal" data-backdrop="static" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        	<span class="material-icons-outlined">chat</span>
        	Chat Room
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bar-nav">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="event-room" data-toggle="tab" href="#eventRoom" role="tab" aria-controls="eventRoom" aria-selected="true">
					    	Chat Event Room
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="participantChat" data-toggle="tab" href="#participant" role="tab" aria-controls="participant" aria-selected="false">
						    Participant
						  </a>
					  </li>
					</ul>
				</div>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="eventRoom" role="tabpanel" aria-labelledby="event-room">
				  	<div class="chat-list">
				  		<ul>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict2.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				  						<div class="attr">
				  							Christopher M. Rea 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp is-user">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						There are many variations of passages of Lorem Ipsum available,
				  						<div class="attr">
				  							Dwi Wibowo 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict3.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Please Explain to me!!
				  						<div class="attr">
				  							Yayuk 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  			<li>
				  				<div class="chat-wrapp">
				  					<div class="pict online">
				  						<div class="pict-wrapp">
				  							<img src="./dist/images/pict1.jpg" alt="redback">
				  						</div>
				  					</div>
				  					<div class="chat-text">
				  						Let's start
				  						I am ready..
				  						<div class="attr">
				  							Bambang 12:41 PM
				  						</div>
				  					</div>
				  				</div>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
				  <div class="tab-pane fade" id="participant" role="tabpanel" aria-labelledby="participantChat">
				  	participant
				  </div>
				</div>
      </div>
      <div class="modal-footer">
      	<div class="form-inline">
				  <input type="text" class="form-control" >
	        <button type="button" class="btn btn-link btn-sm"><span class="material-icons">send</span></button>
	      </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade modal-detail" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="pict">
      		<img src="./dist/images/antas.jpg" class="card-img-top" alt="antas">
      	</div>
        <div class="desc">
        	<h5 class="modal-title" id="modalDetail">Antas</h5>
	        <p>Stand: B169</p>
	        <p>Coatings, Sealants & Adhesives | Sydney Build</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-8">
        		<div class="content-about">
        		<h4>About Antas</h4>
        		<p>Antas Pacific supplies a range of construction sealant and adhesive products based on modified silane (MS), silicone, polyurethane and acrylic polymers which are used in applications of curtain wall, insulating glass, glazing, exterior and interior caulking and sealing, and more.</p>
        		<p>Antas® is manufactured since 1989 by Jointas Chemical, a leading sealant and industrial coatings manufacturer based in Guangzhou, China. The China Construction Metal Structure Association has ranked Antas® among the best construction sealant brands in China over the last 14 consecutive years. Started as a private company, Jointas is now publicly listed in Shenzhen Stock Exchange.</p>
        		</div>
        	</div>
        	<div class="col-4">
        		<div class="content-about side">
        			<h4>Address</h4>
        			<p>1/17-19 Pavesi Street Smithfield 2165 <strong>Australia</strong></p>
        			<a href="#" class="btn btn-link btn-block"><span class="material-icons">picture_as_pdf</span> Download PDF</a>
        			<a href="#" class="btn btn-link btn-block mb-5"><span class="material-icons-outlined">videocam</span> Playback Sales Video</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">BOOK A MEETING</a>
        			<a href="#" class="btn btn-outline-info btn-sm btn-block mb-3">TALK SOMEONE</a>
        			<a href="#" class="btn btn-primary btn-sm btn-block mb-3">REQUEST FREE SAMPLE</a>
        		</div>
        	</div>
        	<div class="col-12">
        		<div class="content-about list-product">
        			<h4 class="mb-4 mt-4">Product</h4>
        			<div class="row">
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_1.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle G-13</h5>
							  		<p>Rekortan® G-13 is our top performing, elite full PUR, IAAF certified track system made from environmentally, renewable resources. We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_2.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle 12</h5>
							  		<p>Bottle 12 We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        				<div class="col-4">
        					<div class="card ">
							  <div class="pict">
							  	<img src="./dist/images/botol_3.jpg" class="card-img-top" alt="">
							  </div>
							  <div class="card-body">
							  		<h5>Bottle</h5>
							  		<p>Elite full PUR, IAAF certified track system made from environmentally We take great pride in Rekortan G-13’s base layer being comprised of r ...</p>
							  		<div class="text-right">
							  			<a href="#" class="text-primary">Read More</a>
							  		</div>
							  </div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
      	<a href="/#" class="nav-link active">
			<span class="material-icons-outlined text-primary">event_note</span>
			Agenda
		</a>
		<a href="/#" data-rb-event-key="/#" class="nav-link">
			<span class="material-icons-outlined text-primary">amp_stories</span>
			Exhibition Hall
		</a>
		<a href="/contact.html" data-rb-event-key="/contact" class="nav-link">
			<span class="material-icons-outlined text-primary">chair</span>
			Launge
		</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="./dist/js/jquery.nav.js"></script>
<script src="./dist/js/count-down.js"></script>
{% endblock %}