.landingpage {
	padding-top: 96px;
}
.count-down {
	width: 100%;
	background-color: $white;
	box-shadow: 0px 2px 4px #00000029;
	overflow: hidden;
	margin-top: -120px;
	position: relative;
	z-index: 2;
	.desc {
		padding: 20px;
		background-color: $primary;
		position: relative;
		text-align: center;
		width: 100%;
		max-width: 390px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 110px;
		&::after {
			content: "";
			width: 50px;
			height: 200px;
			border-right: 2px solid $info;
			background-color: $primary;
			position: absolute;
			top: -50px;
			right: -25px;
			@include rotate(18deg);
		}
		h2 {
			font-weight: 400;
			color: $white;
			margin-bottom: 0;
			font-size: 30px;
			line-height: 48px;
			position: relative;
			z-index: 1;
		}
		span {
			color: $white;
			font-size: 18px;
			line-height: 40px;
			position: relative;
			z-index: 1;
		}
	}
	.time-ramaning {
		display: inline-block;
		vertical-align: top;
		#eventCountDown {
			width: 580px;
			.cd {
				min-width: 50px;
				height: 70px;
				font-size: 72px;
				font-weight: 600;
				color: $black;
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin-right: 40px;
				&::after {
					content: ":";
					font-size: 72px;
					font-weight: 600;
					display: inline-block;
					color: #999999;
					position: absolute;
					right: -28px;
				}
				&:last-child {
					margin-right: 0;
					&::after {
						display: none;
					}
				}
				.label {
					position: absolute;
					bottom: -40px;
					left: 50%;
					font-size: 14px;
					@include translateX(-50%);
				}
			}
		}
	}
}

.speaking-people {
	background-color: #FAFAFA;
	.pict {
		img {
			max-width: 100%;
		}
	}
	.desc {
		padding: 10px 10px;
		text-align: center;
		h3 {
			font-size: 18px;
			line-height: 22px;
			font-weight: 700;
			margin-bottom: 0;
		}
		span {
			font-size: 12px;
			line-height: 24px;
			font-weight: 600;
			color: $text-muted;
		}
	}
	&:hover {
		box-shadow: 0px 2px 4px #00000029;
	}
}

.season {
	margin-bottom: 30px;
	.pict {
		position: relative;
		overflow: hidden;
		.card-title {
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 10px 20px;
			font-size: 16px;
			line-height: 24px;
			font-weight: 700;
			color: $white;
			z-index: 1;
		}
		&::after {
			content: "";
			width: 100%;
			height: 70%;
			background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.attr {
		display: inline-block;
		padding: 2px 4px;
		border-radius: 3px;
		background-color: rgba(0,0,0,0.4);
		color: $white;
		text-transform: uppercase;
		font-size: 12px;
		position: absolute;
		top: 8px;
		left: 10px;
	}
	.card-body {
		background-color: #FAFAFA;
		box-shadow: 0px 1px 2px #0000002B;
		&::after {
			content: "";
			clear: both;
			display: block;
		}
		.avatar {
			width: 52px;
			height: 52px;
			border-radius: 300px;
			overflow: hidden;
			float: left;
			margin-right: 15px;
			img {
				max-width: 100%;
			}
		}
		.desc {
			overflow: hidden;
			h5 {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 4px;
				font-weight: 700;
			}
			span {
				font-size: 12px;
				font-weight: 600;
				color: #999999;
			}
		}
	}
}

.table-price {
	margin-bottom: 30px;
	.price-wrapp {
		background: transparent linear-gradient(270deg, #99091C 0%, #244BBC 100%) 0% 0% no-repeat;
		padding: 20px;
		h3 {
			font-size: 24px;
			line-height: 48px;
			margin-bottom: 0;
			font-weight: 600;
			color: $white;
		}
		span {
			font-size: 14px;
			color: $white;
			line-height: 48px;
		}
		.price {
			display: block;
			font-size: 48px;
			line-height: 48px;
			color: #FAFAFA;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}
	.list-package {
		padding: 30px;
		background-color: $white;
		box-shadow: 0px 3px 6px #00000029;
		ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				position: relative;
				font-size: 14px;
				font-weight: 600;
				color: #000000;
				padding: 8px 0 8px 28px;
				border-bottom: 1px dashed #CCCCCC;
				> span {
					position: absolute;
					top: 8px;
					left: 0;
					color: $success;
					font-size: 18px;
					&.not-include {
						color: $danger;
					}
				}
			}
		}
	}
}

.pict-workshop {
	height: 100%;
	background-image: url('../images/season-6.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background: transparent linear-gradient(90deg, #99091C 0%, #244BBC 100%) 0% 0% no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.4;
	}
}
.about-workshop {
	background-color: #333333;
	padding: 113px 72px;
	> span {
		text-transform: uppercase;
		font-size: 12px;
		color: $white;
		display: inline-block;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 48px;
		line-height: 48px;
		color: #AD3A4A;
		margin-bottom: 30px;
		font-weight: 900;
	}
	p {
		font-size: 16px;
		color: $white;
		line-height: 24px;
	}
}

.event-agenda {
	background-color: $white;
	.table {
		tbody {
			tr {
				td {
					padding: 30px 10px;
					&:first-child {
						width: 200px;
					}
					&:nth-child(2) {
						width: 470px;
					}
					h3 {
						font-size: 18px;
						line-height: 24px;
					}
					.time {
						font-size: 24px;
					}
					.summary {
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						margin-bottom: 0;
					}
					.avatar {
						width: 52px;
						height: 52px;
						border-radius: 300px;
						overflow: hidden;
						float: left;
						margin-right: 15px;
						img {
							max-width: 100%;
						}
					}
					.desc {
						overflow: hidden;
						h5 {
							font-size: 16px;
							line-height: 24px;
							margin-bottom: 4px;
							font-weight: 600;
						}
						span {
							font-size: 12px;
							font-weight: 600;
							color: #999999;
						}
					}
					.material-icons {
						vertical-align: middle;
					}
					&:last-child {
						vertical-align: middle;
						> span {
							font-size: 12px;
						}
					}
					.live-now {
						width: 96px;
						height: 96px;
						border: 1px solid $success;
						line-height: 100px;
						position: relative;
						text-align: center;
						span {
							font-size: 32px;
							color: $success;
						}
						.status {
							background-color: $success;
							display: block;
							color: $white;
							position: absolute;
							font-size: 12px;
							line-height: 16px;
							text-transform: uppercase;
							text-align: center;
							font-weight: 600;
							left: 0;
							bottom: 0;
							width: 100%;
						}
					}
				}
				&:last-child {
					td {
						border-bottom: 1px solid #dee2e6;
					}
				}
			}
		}
	}
}
.separator-time {
	width: 15px;
	height: 1px;
	background-color: $black;
	display: inline-block;
	margin: 2px 0;
}