.redback-room {
	background-color: $black;
	height: 100vh;
	padding-right: 352px;
	@media (max-width: 1280px) {
		padding-right: 300px;
	}
	.header-room {
		padding: 15px 30px;
	}
	.main-room {
		height: calc( 100vh - 161px);
		overflow-y: auto;
		.row {
			min-height: calc( 100vh - 161px);
			margin-left: -2px;
			margin-right: -2px;
			div[class^="col-"] {
				padding-left: 2px;
				padding-right: 2px;
			}
		}
		.participhant {
			margin-bottom: 4px;
			position: relative;
			.pict {
				text-align: center;
				img {
					width: 100%;
					margin: 0 auto;
				}
			}
			.participant-name {
				background-color: rgba(0,0,0,0.6);
				padding: 4.5px 8px;
				color: #999999;
				font-size: 12px;
				line-height: 15px;
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}
	.side-room {
		width: 352px;
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		background-color: $white;
		z-index: 1;
		@media (max-width: 1280px) {
			width: 300px;
		}
		.side-wrapp {
			height: 50vh;
			background-color: $white;
			border-bottom: 1px solid #cccccc;
			.side-header {
				padding: 15px 10px;
				background-color: #99091C;
				h3 {
					text-transform: uppercase;
					text-align: center;
					font-size: 12px;
					font-weight: 600;
					color: $white;
					margin-bottom: 0;
				}
			}
			.participant-list {
				height: calc(100vh - 50vh - 103px);
				overflow-y: auto;
				ul {
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					li {
						border-bottom: 1px solid #cccccc;
						a {
							color: #999999;
						}
						.participant-wrapp {
							width: 100%;
							position: relative;
							> div {
								width: 100%;
								padding: 15px;
								&:after {
									content: "";
									display: block;
									clear: both;
								}
								.pict {
									float: left;
									margin-right: 6px;
									width: 32px;
									height: 32px;
									border-radius: 100%;
									overflow: hidden;
									background-color: #EBEBEE;
									img {
										max-width: 100%;
									}
								}
								.desc {
									overflow: hidden;
									h3 {
										font-size: 12px;
										font-weight: 700;
										color: #000000;
										margin-bottom: 0;
									}
									span {
										font-size: 10px;
										color: #888888;
										font-weight: 600;
									}
								}
							}
						}
					}
				}
			}
			.chat-list {
				height: calc(100vh - 50vh - 85px - 29px);
				overflow-y: auto;
				ul {
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					li {
						display: flex;
						align-items: flex-end;
						padding: 10px 15px;
						margin-bottom: 30px;
						.pict {
							margin-right: 15px;
							width: 32px;
							height: 32px;
							border-radius: 100%;
							overflow: hidden;
							background-color: #EBEBEE;
							img {
								max-width: 100%;
							}
						}
						.chat-text {
							position: relative;
							border-radius: 4px;
							background-color: #E6E6E6;
							padding: 15px;
							h3 {
								font-size: 12px;
								font-weight: 700;
								color: #000000;
							}
							span {
								font-size: 12px;
								color: #000000;
								font-weight: 700;
								position: absolute;
								left: 0;
								bottom: -26px;
							}
						}
					}
				}
			}
			.chat-form {
				padding: 10px;
				border-top: 1px solid #cccccc;
				.form-group {
					.form-control {
						height: 48px;
						border-radius: 4px;
						background-color: #F5F5F8;
					}
					> a {
						position: absolute;
						top: 12px;
						right: 10px;
					}
				}
			}
		}
	}
	.footer-room {
		padding: 15px 30px;
		.btn {
			&.text-danger {
				font-size: 24px;
			}
		}
		.btn-link{
			position: relative;
			span {
		      display: block;
		      text-align: center;
		      margin-right: 0;
		    }
			&:hover {
				> span {
					color: $success;
				}
			}
			&.active {
				> span {
					color: $success;
				}
			}
			.total-participant {
				display: inline-block;
				font-size: 12px;
				color: #EBEBEE;
				position: absolute;
				top: 0;
				right: 45%;
				@include translateX(-45%);
			}
		}
	}
}