.filter-box {
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(207,207,207,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(207,207,207,1);
  box-shadow: 0px 3px 5px 0px rgba(207,207,207,1);
  width: 100%;
  .box-form {
    padding: 20px;
    overflow-x: auto;
    &:first-child {
      border-bottom: 1px solid #CCCCCC;
    }
    .form-group {
      width: 100%;
      max-width: 280px;
    }
    .btn {
      &.btn-link {
        padding: 0;
        color: #969696;
        &:focus {
          outline: 0 none !important;
          box-shadow: none;
        }
      }
    }
  }
  .btn-filter {
    font-size: 12px;
    color: $primary;
    background-color: #EBEBEE;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    padding: 6px 7.98px;
    margin-right: 8px;
    min-width: 30px;
    &.number {
      min-width: 43px;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: $primary;
      color: $white;
    }
  }
  .box-category {
    padding: 15px 30px;
    border-top: 1px solid #CCCCCC;
    display: none;
    &.show {
      display: block;
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.08px;
      color: #000000;
      margin-bottom: 30px;
    }
    .category-list {
      .custom-control {
        margin-bottom: 30px;
        .custom-control-label {
          &::before {
            top: 1px;
          }
          &::after {
            top: 1px;
          }
        }
        .custom-control-input {
          &:checked {
            ~ .custom-control-label {
              &::before {
                border-color: $primary;
              }
            }
          }
        }
      }
    }
  }
}