.form-group {
  position: relative;
  .ic-close-eye {
    position: absolute;
    top: 35px;
    right: 8px;
    z-index: 1;
  }
}
.form-control {
  &.line-type {
    border: none;
    border-bottom: 1px solid $color-border;
    border-radius: 0;
  }
  &:focus {
    box-shadow: none !important;
    outline: none 0 !important;
  }
  &.is-invalid {
    color: $danger;
    background-image: none;
  }
}
label {
  color: $text-muted;
  font-weight: 500;
}
.invalid-feedback {
  color: $text-muted !important;
}

.custom-control {
  &.custom-checkbox {
    .custom-control-label {
      font-size: 12px;
      color: #666666;
      &::before {
        border-radius: 3px;
        border: 2px solid #000000;
      }
    }
  }
}