.navbar {
  padding: 0.0rem 1rem;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(196,196,196,1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(196,196,196,1);
  box-shadow: 0px 1px 5px 0px rgba(196,196,196,1);
  @include transition(linear all 400ms);
  &.navbar-light {
    .navbar-brand {
      padding: 31.5px 0;    }
    .navbar-nav {
      align-items: center;
      .nav-item {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
      .btn {
        height: 32px;
      }
      .nav-link {
        color: $headings-color;
        font-size: 14px;
        margin-right: 20px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        &.nav-login {
          color: $warning;
          font-weight: 700;
        }
        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 32px;
        }
        .noty-wrapp {
          position: absolute;
          top: -2px;
          right: 6px;
          display: none;
          width: 18px;
          height: 18px;
          border-radius: 160px;
          color: $white;
          line-height: 18px;
          font-size: 10px;
          background-color: $success;
          text-align: center;
        }
        &.is-noty {
          .noty-wrapp {
            display: block;
          }
        }
      }
      .dropdown {
        &.lang {
          .dropdown-toggle {
            &::before {
              content: "language";
              font-family: 'Material Icons';
              font-weight: normal;
              font-style: normal;
              font-size: 24px;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              display: inline-block;
              white-space: nowrap;
              word-wrap: normal;
              direction: ltr;
              -webkit-font-feature-settings: 'liga';
              -webkit-font-smoothing: antialiased;
              vertical-align: middle;
              font-size: 16px;
              margin-right: 8px;
            }
            &::after {
              display: none;
            }
          }
        }
        .dropdown-menu {
          display: block;
          max-height: 0;
          visibility: hidden;
          transition: all 0.8s ease-in-out;
          overflow: hidden;
          margin-top: 13px;
          border: none;
        }
        &.show > .dropdown-menu {
          max-height: 800px;
          visibility: visible;
        }
      }
    }
  }
}
@media all and (min-width: 992px) {
	.navbar .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .dropdown-menu.fade-down{ top:90%; }
  .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:150%; transform: rotateX(0deg); }
  .dropdown-menu {
    &.lg {
      width: 551px;
      padding: 0;
      .dropdown-item {
        padding: 20px;
      }
    }
  }
}	

.product-category-list {
  white-space: normal;
  width: 100%;
  display: block;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .icons-iso {
    width: 71px;
    height: 71px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    display: block;
  }
  .wrapp {
    overflow: hidden;
    display: block;
    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #282828;
      display: block;
      margin: 0;
    }
    .desc {
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      color: #898989;
      margin: 0;
    }
  }
}

.side-menu {
  background-color: $white;
  width: 96px;
  height: 0;
  position: fixed;
  top: 94px;
  left: 0;
  z-index: 99;
  @include transition(linear all 400ms);
  button {
    width: 100%;
    height: 96px;
    line-height: 96px;
    text-align: center;
    background-color: $white;
    border: none;
    .op {
      display: block;
    }
    .cl {
      display: none;
    }
  }
  .menu {
    @include transition(linear all 400ms);
    overflow: hidden;
    height: 0px;
    opacity: 0;
    margin: 0;
    li {
      a {
        font-size: 12px;
        color: $black;
        text-align: center;
        width: 100%;
        height: 96px;
        text-align: center;
        display: block;
        position: relative;
        font-weight: 600;
        i {
          line-height: 96px;
        }
        span {
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
  &.open {
    height: calc(100vh - 96px);
    button {
      .cl {
        display: block;
      }
      .op {
        display: none;
      }
    }
    .menu {
      @include transition(linear all 400ms);
      height: calc(100vh - 192px);
      overflow-x: hidden;
      overflow-y: auto;
      opacity: 1;
    }
  }
}